/*
$darkerbl: #236d9d;
$darkbl: #2980b9;
$lightbl: #409ad5;
$lightestbl: #5ca9db;
*/

body {
  min-height: 100vh;
  font-family: 'Lora', sans-serif;
}

.navbar-default {
  background-color: #DF8109 !important;
}

.navbar-default li a {
  color: white !important;
}

.navbar-default img {
  height: 50px;
  margin-top: -15px;
  width: 120px;
}

.navbar-transparent {
  background-color: #DF8109 !important;
}

@media only screen and (max-width: 768px) {
  .navbar-transparent {
    display: none;
  }
}

.navbar-transparent a {
  color: white;
  font-size: 0.9em !important;
  padding: 5px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-transparent a {
    font-size: 0.7em !important;
  }
}

.navbar-transparent li:hover {
  background-color: #EC971F !important;
}

.navbar-transparent #li_form:hover {
  background-color: #DF8109 !important;
}

.navbar-transparent ul {
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-transparent ul li {
  display: inline;
  padding: 0.5em;
  border-right: 1px solid #EC971F;
}

.navbar-transparent ul #li_form {
  padding: 0em;
  border-right: none;
}

.mobilehead,
.search_top {
  z-index: 40 !important;
}

@media only screen and (min-width: 768px) {
  .mobilehead,
  .search_top {
    display: none !important;
  }
}

.search_desktop {
  z-index: 40 !important;
}

@media only screen and (max-width: 768px) {
  .search_desktop {
    display: none !important;
  }
}

.home_cover {
  background-position: center;
  background-size: cover;
  height: 100vh;
}

@media (min-width: 0px) and (max-width: 467px) {
  .home_cover .top-layer {
    height: 700px !important;
  }
}

@media (min-width: 468px) and (max-width: 767px) {
  .home_cover .top-layer {
    height: 650px !important;
  }
}

.home_cover .top-layer .ism-slider {
  height: 450px !important;
  position: relative;
  z-index: 2 !important;
}

@media (min-width: 0px) and (max-width: 467px) {
  .home_cover .top-layer .ism-slider {
    height: 295px !important;
  }
}

@media (min-width: 468px) and (max-width: 767px) {
  .home_cover .top-layer .ism-slider {
    height: 280px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .home_cover .top-layer .ism-slider {
    height: 470px !important;
  }
}

.home_cover .top-layer .ism-slider img {
  z-index: 2 !important;
}

@media (min-width: 0px) and (max-width: 467px) {
  .home_cover .top-layer .ism-slider img {
    height: 295px !important;
  }
}

@media (min-width: 468px) and (max-width: 767px) {
  .home_cover .top-layer .ism-slider img {
    height: 280px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .home_cover .top-layer .ism-slider img {
    height: 470px !important;
  }
}

.home_cover .top-layer .ism_content {
  position: absolute;
  top: 30px;
  left: 4%;
  z-index: 10 !important;
  padding-top: 0.6em;
}

@media (min-width: 0px) and (max-width: 467px) {
  .home_cover .top-layer .ism_content {
    top: 10px !important;
    left: 1%;
  }
}

.home_cover .top-layer .ism_content p {
  padding: 0px 10px 0px 10px;
}

.home_cover .top-layer .ism_content h3 {
  padding-top: 30px;
  padding-bottom: 10px;
  color: white;
}

@media (min-width: 0px) and (max-width: 467px) {
  .home_cover .top-layer .ism_content h3 {
    font-size: 20px;
  }
}

@media (min-width: 468px) and (max-width: 767px) {
  .home_cover .top-layer .ism_content h3 {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .home_cover .top-layer .ism_content h3 {
    font-size: 21px;
  }
}

.home_cover .top-layer .ism_content h4 {
  color: white;
  padding: 0px 0px 0px 0px;
}

@media (min-width: 468px) and (max-width: 767px) {
  .home_cover .top-layer .ism_content h4 {
    padding: 10px 0px 0px 0px;
  }
}

.home_cover .top-layer .ism_content h6 {
  color: white;
}

@media (min-width: 768px) and (max-width: 991px) {
  .home_cover .top-layer .ism_content .seller-div {
    margin-top: 3em;
  }
}

@media (min-width: 992px) {
  .home_cover .top-layer .ism_content .seller-div {
    margin-top: 3em;
  }
}

.home_cover .top-layer .ism_content .seller-div span {
  font-size: 0.7em;
}

.home_cover .top-layer .ism_content .seller-div h4 {
  color: red;
}

.home_cover .top-layer .ism_content #product {
  margin-right: 65px;
}

@media (min-width: 768px) and (max-width: 991px) {
  .home_cover .top-layer .ism_content #product {
    margin-right: 0px;
  }
}

@media (min-width: 992px) {
  .home_cover .top-layer .ism_content #product {
    margin-right: 0px;
  }
}

@media (min-width: 0px) and (max-width: 467px) {
  .home_cover h3,
  .home_cover h4 {
    top: 0px !important;
  }
}

.home_cover p {
  color: white;
}

.home_cover input {
  color: black;
  height: 25px !important;
}

.home_cover select {
  height: 25px !important;
}

.home_cover h4,
.home_cover label {
  color: white;
}

@media (min-width: 0px) and (max-width: 467px) {
  .home_cover h4,
  .home_cover label {
    color: black;
  }
}

@media (min-width: 468px) and (max-width: 767px) {
  .home_cover h4,
  .home_cover label {
    color: black;
  }
}

.home_cover input:focus {
  background-color: white;
}

.home_cover .show-container {
  margin-top: -35px;
  background-color: white;
  overflow-y: hidden !important;
}

@media (min-width: 468px) and (max-width: 767px) {
  .home_cover .show-container {
    margin-top: -5px;
    height: auto;
  }
}

.home_cover .show-container .showcase {
  position: relative;
  z-index: 10 !important;
}

.home_cover .show-container .showcase h3,
.home_cover .show-container .showcase h4 {
  position: absolute;
  top: 1px;
  left: 25%;
  color: #FAFAFA;
}

@media (min-width: 0px) and (max-width: 467px) {
  .home_cover .show-container .showcase h3,
  .home_cover .show-container .showcase h4 {
    top: 10px;
    left: 15%;
    font-size: 95%;
  }
}

@media (min-width: 468px) and (max-width: 767px) {
  .home_cover .show-container .showcase h3,
  .home_cover .show-container .showcase h4 {
    top: 10px;
    left: 15%;
    font-size: 95%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .home_cover .show-container .showcase h3,
  .home_cover .show-container .showcase h4 {
    top: 10px;
    left: 20%;
    font-size: 20px;
  }
}

@media (min-width: 0px) and (max-width: 467px) {
  .home_cover .show-container .showcase h4 span {
    font-size: 10px;
  }
}

@media (min-width: 468px) and (max-width: 767px) {
  .home_cover .show-container .showcase h4 span {
    font-size: 11px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .home_cover .show-container .showcase h4 span {
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  .home_cover .show-container .showcase h4 span {
    font-size: 13px;
  }
}

.home_cover .show-container .showcase img {
  height: 210px;
  width: 100%;
  -webkit-filter: blur(0px) brightness(0.7) grayscale(0%);
          filter: blur(0px) brightness(0.7) grayscale(0%);
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  cursor: pointer;
}

@media (min-width: 0px) and (max-width: 467px) {
  .home_cover .show-container .showcase img {
    height: 150px;
  }
}

@media (min-width: 468px) and (max-width: 767px) {
  .home_cover .show-container .showcase img {
    height: 140px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .home_cover .show-container .showcase img {
    height: 160px;
  }
}

.home_cover .show-container .showcase img:hover {
  -webkit-transform: scale(1.1, 1.2);
          transform: scale(1.1, 1.2);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

@media (min-width: 0px) and (max-width: 467px) {
  .home_cover .show-container .showcase {
    margin-bottom: 10px;
  }
}

@media (min-width: 468px) and (max-width: 767px) {
  .home_cover .show-container .showcase {
    margin-bottom: 10px;
  }
}

.home_cover form .asterisks {
  color: red;
}

.all_products #hov {
  position: relative;
  display: inline-block;
}

.all_products #hov a {
  text-decoration: none;
}

.all_products #hov em {
  color: green;
  font-size: 104%;
}

@media (min-width: 0px) and (max-width: 467px) {
  .all_products #hov img {
    height: 80px !important;
  }
}

@media (min-width: 468px) and (max-width: 767px) {
  .all_products #hov img {
    height: 100px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .all_products #hov img {
    height: 100px !important;
  }
}

@media (min-width: 992px) {
  .all_products #hov img {
    height: 100px !important;
  }
}

.all_products #hov .shw {
  visibility: hidden;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  background-color: #286090;
  position: absolute;
  left: 0px;
  z-index: 1;
}

.all_products #hov .pael {
  border-radius: 7px;
  background-color: #fafafa;
}

.all_products #hov .pael a {
  color: black;
}

.all_products #hov .pael:hover {
  background-color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

.myitems {
  height: 21em;
}

@media (min-width: 0px) and (max-width: 467px) {
  .myitems {
    height: 20em;
  }
}

@media (min-width: 468px) and (max-width: 767px) {
  .myitems {
    height: 19em;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .myitems {
    height: 20em;
  }
}

@media (min-width: 992px) {
  .myitems {
    height: 20em;
  }
}

.myitems a span {
  font-size: 19px;
}

.myitems .more-images img {
  height: 5em;
}

.currency a {
  color: #286090;
}

.hv .pael {
  height: 140px !important;
}

footer a {
  color: white;
}

footer p {
  color: #533110;
}

@media (min-width: 0px) and (max-width: 467px) {
  footer {
    margin-top: 210px;
    bottom: -10em;
  }
}

@media (min-width: 468px) and (max-width: 767px) {
  footer {
    margin-top: 100px;
    bottom: -10em;
  }
}

.terms p {
  line-height: 26px;
  text-align: justify;
}

@media (min-width: 468px) and (max-width: 767px) {
  .tophead {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 467px) {
  .tophead {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 467px) {
  #searchdiv {
    padding: 0px 2px 0px 2px !important;
  }
}

@media (min-width: 0px) and (max-width: 467px) {
  .new_cover .introtext1 {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .new_cover .introtext2 {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 467px) {
  .new_cover .introtext2 {
    margin-top: -7px;
  }
}

.new_cover .firstsection {
  background-color: #f5fafd;
  height: 86vh;
}

@media (min-width: 0px) and (max-width: 467px) {
  .new_cover .firstsection h3 {
    font-size: 20px;
  }
}

@media (min-width: 0px) and (max-width: 467px) {
  .new_cover .firstsection h4 {
    font-size: 15px;
  }
}

@media (min-width: 0px) and (max-width: 467px) {
  .new_cover .firstsection .row h3 {
    font-size: 18px;
  }
}

@media (min-width: 0px) and (max-width: 467px) {
  .new_cover .firstsection .hspan {
    font-size: 16px !important;
  }
}

.new_cover .firstsection ul li a {
  color: black;
}

.new_cover .firstsection .carousel img {
  height: 371.5px;
}

@media (min-width: 0px) and (max-width: 467px) {
  .new_cover .firstsection .carousel img {
    height: 200px !important;
    width: 100% !important;
  }
}

@media (min-width: 468px) and (max-width: 767px) {
  .new_cover .firstsection .carousel img {
    height: 200px !important;
    width: 100% !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .new_cover .firstsection .carousel img {
    height: 300px;
    width: 100%;
  }
}

.new_cover .firstsection .carousel h3,
.new_cover .firstsection .carousel h2 {
  margin-top: -160px;
}

@media (min-width: 0px) and (max-width: 467px) {
  .new_cover .firstsection .carousel h3,
  .new_cover .firstsection .carousel h2 {
    margin-top: 1000px !important;
  }
}

@media (min-width: 0px) and (max-width: 467px) {
  .new_cover .firstsection .top_selling {
    display: none;
  }
}

@media (min-width: 468px) and (max-width: 767px) {
  .new_cover .firstsection .top_selling {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .new_cover .firstsection .top_selling {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 467px) {
  .new_cover .firstsection {
    height: 89vh !important;
    margin-top: -10px;
  }
}

.new_cover .second_section {
  background-color: #236d9d;
  height: 40vh;
  padding-top: 30px;
}

.new_cover .second_section h3,
.new_cover .second_section h4,
.new_cover .second_section a {
  line-height: 30px;
  color: white;
}

.new_cover .third_section h5 {
  color: gray;
}

.new_cover .third_section img {
  height: 150px;
  width: 100%;
}

@media (min-width: 0px) and (max-width: 467px) {
  .new_cover .third_section img {
    height: 100px !important;
    width: 100%;
  }
}

@media (min-width: 468px) and (max-width: 767px) {
  .new_cover .third_section img {
    height: 120px !important;
    width: 100%;
  }
}

.new_cover .third_section a {
  text-decoration: none;
}

.new_cover .third_section .product:hover {
  -webkit-transform: scale(0.97, 0.97);
          transform: scale(0.97, 0.97);
  -webkit-transition: 1s;
  transition: 1s;
}

.new_cover .fourth_section {
  height: 100vh;
  background-color: white;
}

.new_cover .fourth_section h4 {
  left: 20%;
  top: 30%;
  z-index: 1;
}

@media (min-width: 0px) and (max-width: 467px) {
  .new_cover .fourth_section h4 {
    left: 10%;
    font-size: 95%;
    top: 30%;
    z-index: 1;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .new_cover .fourth_section h4 {
    left: 10%;
  }
}

.new_cover .fourth_section img {
  height: 200px;
  width: 100%;
  -webkit-filter: blur(0px) brightness(0.8) grayscale(20%);
          filter: blur(0px) brightness(0.8) grayscale(20%);
}

@media (min-width: 0px) and (max-width: 467px) {
  .new_cover .fourth_section img {
    height: 100px !important;
  }
}

@media (min-width: 468px) and (max-width: 767px) {
  .new_cover .fourth_section img {
    height: 140px !important;
    width: 100%;
  }
}

.new_cover .fourth_section .category:hover {
  -webkit-transform: scale(0.97, 0.97);
          transform: scale(0.97, 0.97);
  -webkit-transition: 1s;
  transition: 1s;
}

.new_cover .fifth_section {
  background: -webkit-gradient(linear, left top, left bottom, from(#f8d8ac), to(#efa63e));
  background: linear-gradient(#f8d8ac, #efa63e);
  height: 54vh;
}

.new_cover .bitcoin_section .list-group-item {
  border: none !important;
  background-color: #FAFAFA !important;
}

@media (min-width: 0px) and (max-width: 467px) {
  .new_cover .item img {
    height: 250px !important;
  }
}

.register input:focus {
  background-color: #FAFAFA;
}

.register input:hover {
  background-color: #FAFAFA;
}

.register input:select {
  background-color: green !important;
}

.register input {
  border: 1px solid #FAFAFA !important;
  height: 43px !important;
  border-radius: none !important;
}

.register textarea {
  border: 1px solid darkgrey !important;
  heght: 43px !important;
  border-radius: none !important;
}

.register input[type="file"] {
  display: block;
}

.register .imageThumb {
  max-height: 75px;
  border: 2px solid;
  margin: 10px 10px 0 0;
  padding: 1px;
}

