
$main-color: #DF8109;
$brown-color: #533110;
//orange
$darker: #d78512;
$normal: #ec971f;
$lighter: #efa63e;
$lightest: #f8d8ac;
//bluebelow
/*
$darkerbl: #236d9d;
$darkbl: #2980b9;
$lightbl: #409ad5;
$lightestbl: #5ca9db;
*/
$smartphone: "(min-width: 0px) and (max-width: 467px)";
$tablet: "(min-width: 468px) and (max-width: 767px)";
$mini-laptop: "(min-width: 768px) and (max-width: 991px)";
$desktop: "(min-width: 992px)";
//
.show-only-smartphone {
	@media (min-width: 468px) {
		display: none;
	}
}
.hide-smartphone {
	@media (min-width: 0px) and (max-width: 467px) {
		display: none;
	}
}
.hide-tablet {
	@media (min-width: 468px) and (max-width: 767px) {
		display: none;
	}
}
.hide-mini-laptop {
	@media (min-width: 768px) and (max-width: 992px) {
		display: none;
	}
}
.hide-desktop {
	@media (min-width: 992px) {
		display: none;
	}
}
//
$smallest-font: 70%;
$small-font: 75%;
$medium-font: 80%;
$sm-medium-font: 85%;
$lg-medium-font: 90%;
$near-normal-font: 95%;
$normal-font: 100%;
$md-normal-font: 105%;
$lg-normal-font: 110%;
body {
	min-height: 100vh;
//	background-color: #fafafa;
	font-family: 'Lora', sans-serif;
//	font-family: 'Lato', sans-serif;
}
.navbar-default {
	background-color: $main-color !important;
	li a {
		color: white !important;
	}
	img {
		height: 50px;
		margin-top: -15px;
		width: 120px;
	}
}
.navbar-transparent {
	@media only screen and (max-width: 768px) {
		display: none;
	}
	//#fafafabackground-color: #C05401;
	background-color: $main-color !important;
	a {
		color: white;
		font-size: 0.9em !important;
		padding: 5px;
		@media #{$mini-laptop} {
			font-size: 0.7em !important;
		}
	}
	li a:hover {
	//	background-color: #EC971F !important;
	//	padding: 10px;
	}
	li:hover {
		background-color: #EC971F !important;
	//	padding: 10px;
	}
	#li_form:hover {
		background-color: #DF8109 !important;
	}
	ul {
		//display: flex;
		text-align:center;
		margin: 0 auto;
		padding-top: 10px;
		padding-bottom: 10px;
		li {
		//	flex-grow: 1;
			display:inline;
			padding: 0.5em;
			border-right: 1px solid #EC971F;
			//padding: 10em;
		//	padding-top: 300px;
		}
		#li_form {
			padding: 0em;
			border-right: none;
		}
	}
}
.mobilehead,.search_top {
	z-index: 40 !important;
	@media only screen and (min-width: 768px) {
		display: none !important;
	}
}
.search_desktop {
	z-index: 40 !important;
	@media only screen and (max-width: 768px) {
		display: none !important;
	}
}
.home_cover {
	//background-color: $main-color;
//	background-color: $main-color;
	background-position: center;
	background-size: cover;
	height: 100vh;
	.top-layer {
	//	background-color: $brown-color;
		@media #{$smartphone} {
			height: 700px !important;
		}
		@media #{$tablet} {
			height: 650px !important;
		}
		.ism-slider {
			//margin-top: 30px;
			height: 450px !important;
			position: relative;
			z-index: 2 !important;
			@media #{$smartphone} {
				height: 295px !important;
			}
			@media #{$tablet} {
				height: 280px !important;
			}
			@media #{$mini-laptop} {
				height: 470px !important;
			}
			img {
				z-index: 2 !important;
				@media #{$smartphone} {
					height: 295px !important;
				}
				@media #{$tablet} {
					height: 280px !important;
				}
				@media #{$mini-laptop} {
					height: 470px !important;
				}
			}
		}
		.ism_content {
			position: absolute;
			top: 30px;
			left: 4%;
			z-index: 10 !important;
			padding-top: 0.6em;
			@media #{$smartphone} {
				top: 10px !important;
				left: 1%;
			}
			p {
				padding: 0px 10px 0px 10px;
			}
			h3 {
				padding-top: 30px;
				padding-bottom: 10px;
				color: white;
				@media #{$smartphone} {
					font-size: 20px;
				}
				@media #{$tablet} {
					font-size: 20px;
				}
				@media #{$mini-laptop} {
					font-size: 21px;
				}
			}
			h4 {
				color: white;
				padding: 0px 0px 0px 0px;
				@media #{$tablet} {
					padding: 10px 0px 0px 0px;
				}
			}
			h6 {
				color: white;
			}
			.seller-div {
				@media #{$mini-laptop} {
					margin-top: 3em;
				}
				@media #{$desktop} {
					margin-top: 3em;
				}
				span {font-size: 0.7em;}
				h4 {color: red;}
			}
			#product {
				margin-right: 65px;
				@media #{$mini-laptop} {
					margin-right: 0px;
				}
				@media #{$desktop} {
					margin-right: 0px;
				}
			}
			#bitcoin {

			}
		}
	}
	h3,h4 {
	//	padding-top: 30px;
	//	padding-bottom: 10px;
	//	color: white;
		@media #{$smartphone} {
			top: 0px !important;
		}
	}
	p {
		color: white;
	}
	input {
		color: black;
		height: 25px !important;
	//	background-color: #B2B2B2;
	}
	select {
		height: 25px !important;
	}
	h4,label {
		color: white;
		@media #{$smartphone} {
			color: black;
		}
		@media #{$tablet} {
			color: black;
		}@media #{$mini-laptop} {
		//	color: black;
		}
	}
	//input::placeholder {color: white;}
	input:focus {
		background-color: white;
	}
	.show-container {
		margin-top: -35px; 
		background-color: white; 
	//	height: calc(100% - 390px); 
		overflow-y: hidden !important;
		@media #{$tablet} {
			margin-top: -5px; 
			height: auto;
		}
		.showcase {
			position: relative;
			z-index: 10 !important;
			h3, h4 {
				position: absolute;
			//	top: 55px;
				top: 1px;
				left: 25%;
				color: #FAFAFA;
				@media #{$smartphone} {
					top: 10px;
					left: 15%;
					font-size: 95%;
				}
				@media #{$tablet} {
					top: 10px;
					left: 15%;
					font-size: 95%;
				}
				@media #{$mini-laptop} {
					top: 10px;
					left: 20%;
					font-size: 20px;
				}
			}
			h4 span {
				@media #{$smartphone} {
					font-size: 10px;
				}
				@media #{$tablet} {
					font-size: 11px;
				}
				@media #{$mini-laptop} {
					font-size: 13px;
				}
				@media #{$desktop} {
					font-size: 13px;
				}
			}
			img {
				height: 210px;
				width: 100%;
				filter: blur(0px) brightness(0.7) grayscale(0%);
				transform: scale(1,1);
				cursor: pointer;
			//	position: relative;
			//	z-index: 99 !important;
				@media #{$smartphone} {
					height: 150px;
				}
				@media #{$tablet} {
					height: 140px;
				}
				@media #{$mini-laptop} {
					height: 160px;
				}
			}
			img:hover {
				transform: scale(1.1,1.2);
				transition: 1.5s;
			}
			@media #{$smartphone} {
				margin-bottom: 10px;
			}
			@media #{$tablet} {
				margin-bottom: 10px;
			}
		}
	}
	form .asterisks {
		color: red;
	}
}

.all_products {
	#hov {
		position: relative;
	    display: inline-block;
		a {
			text-decoration: none;
		}
		em {
			color: green; 
			font-size: 104%;
		}
		img {
			@media #{$smartphone} {
				height: 80px !important;
			}
			@media #{$tablet} {
				height: 100px !important;
			}
			@media #{$mini-laptop} {
				height: 100px !important;
			}
			@media #{$desktop} {
				height: 100px !important;
			}
		}
		.shw {
		    visibility: hidden; 		    
		    color: white;
		    text-align: center;
		    border-radius: 6px;
		    padding: 5px;
		    background-color: #286090;
		    position: absolute;
		    left: 0px;
		    z-index: 1;
		}
		.pael {
			border-radius: 7px;
			background-color: #fafafa;
			 a {
				color: black;
			}
		}
		.pael:hover {
		background-color: white;
		  transition: 1s;
		}
	}	
}

.myitems {
	height: 21em;
	@media #{$smartphone} {
			height: 20em;
	}
	@media #{$tablet} {
			height: 19em;
	}
	@media #{$mini-laptop} {
			height: 20em;
	}
	@media #{$desktop} {
			height: 20em;
	}
	img {
	//	height: 12em;
		@media #{$smartphone} {
		//	height: 2em;
		}
		@media #{$tablet} {
		//	height: 2em;
		}
	}
	.panel {
		h3 {
			//font-size: 10px !important;
		}
		span {
			//font-size: 9px !important;
		}
		p {
			//font-size: 9px !important;
		}
	}
	a {
		//font-size: 10px !important;
	}
	a span {font-size: 19px;}
	.more-images {
		img {
			height: 5em;
		}
	}
}
.currency {
	a {
		color: #286090;
	}
}
.hv {
	//height: 10px;
	.pael {
		height: 140px !important;
	}
}

footer {
	a {
		color: white;
	}
	p {
		color: $brown-color;
	}
	@media #{$smartphone} {
		margin-top: 210px;
		bottom: -10em;
	}
	@media #{$tablet} {
		margin-top: 100px;
		bottom: -10em;
	}
}

.btn-primary {
	//background-color: purple !important;
}
.terms {
	p {
		line-height: 26px;
		text-align: justify;
	}
}

.tophead {
	@media #{$tablet} {
		display: none;
	}
	@media #{$smartphone} {
		display: none;
	}
}

#searchdiv {
	@media #{$smartphone} {
		padding: 0px 2px 0px 2px !important;
	}
}
.new_cover {  //start of homepage styling
	.introtext1 {
		@media #{$smartphone} {
			display: none;
		}
	}
	.introtext2 {
		@media only screen and (min-width: 768px) {
			display: none;
		}
		@media #{$smartphone} {
			margin-top: -7px;
		}
	}
	.firstsection {
		//background-color: #f5fafd; 
		height: 86vh;
		h3 {
			@media #{$smartphone} {
				font-size: 20px;
			}
		}
		h4 {
			@media #{$smartphone} {
				font-size: 15px;
			}
		}
		.row h3 {
			@media #{$smartphone} {
				font-size: 18px;
			}
		}
		.hspan {
			@media #{$smartphone} {
				font-size: 16px !important;
			}
		}
		ul li a {
			color: black;
		}
		.carousel {
			img {
				height: 371.5px;
				@media #{$smartphone} {
					height: 220px !important;
					width: 100% !important;
				}
				@media #{$tablet} {
					 height: 200px !important;
					 width: 100% !important;
				}
				@media #{$mini-laptop} {
					height: 300px;
					width: 100%;
				}
			}
				h3,h2 {
					margin-top: -160px;
					@media #{$smartphone} {
						 margin-top: 1000px !important;
					}
				}
		}
		.top_selling {
			@media #{$smartphone} {
				display: none;
			}
			@media #{$tablet} {
				display: none;
			}
			@media #{$mini-laptop} {
				display: none;
			}
		}
		@media #{$smartphone} {
			height: auto !important;
			margin-top: -10px;
		}
	}
	.second_section {
		background-color: #236d9d; 
		height: 40vh; 
		padding-top: 30px;
		h3,h4,a {
			line-height: 30px;
			color: white;
		}
	}
	.third_section {
		h5 {
			color: gray;
		}
		img {
			height: 150px; 
			width: 100%;
			@media #{$smartphone} {
				height: 100px !important;
				width: 100%;
			}
			@media #{$tablet} {
				height: 120px !important;
				width: 100%;
			}
		}
		a {
			text-decoration: none;
		}
		.product:hover {
			transform: scale(0.97,0.97);
			transition: 1s;
		}
	}
	
	.fourth_section {
		height: 100vh; 
		background-color: white;
		h4 {
			left: 20%; 
			top: 30%; 
			z-index: 1; 
			@media #{$smartphone} {
				left: 10%; 
				font-size: $near-normal-font;
				top: 30%; 
				z-index: 1; 
			}
			@media #{$mini-laptop} {
				left: 10%;
			}
		}
		img {
			height: 200px; 
			width: 100%; 
			filter: blur(0px) brightness(0.8) grayscale(20%);
			@media #{$smartphone} {
				height: 100px !important;
			}
			@media #{$tablet} {
				height: 140px !important;
				width: 100%;
			}
		}
		.category:hover {
			transform: scale(0.97,0.97);
			transition: 1s;
		}
	}
	.fifth_section {
		background:linear-gradient(#f8d8ac, #efa63e); 
		height: 54vh;
	}
	.bitcoin_section {
		.list-group-item {
			border: none !important;
			background-color: #FAFAFA !important;
		}
	}
	.item img {
		@media #{$smartphone} {
			height: 250px !important;
		}
	}
}
.register {
	input:focus {
        background-color: #FAFAFA;
    }
    input:hover {
        background-color: #FAFAFA; 
    }
    input:select {
        background-color: green !important;
    }
    input {
        border: 1px solid #FAFAFA !important;
        height: 43px !important;
        border-radius: none !important;
    }
    textarea {
         border: 1px solid darkgrey !important;
        heght: 43px !important;
        border-radius: none !important;
    }
    input[type="file"] {
     	display:block;
    }
    .imageThumb {
	     max-height: 75px;
	     border: 2px solid;
	     margin: 10px 10px 0 0;
	     padding: 1px;
     }
}
.not-active {
	background-color: #3783c4 !important;
//	border: 1px solid #FAFAFA !important;
	box-shadow: 0px -2px #337ab7;
}
.is-active {
	background-color: #4f93ce !important;
//	border: 1px solid #FAFAFA !important;
	box-shadow: 0px 0px #337ab7;
}

//slide menu
#hb:hover #mobmenu {
	//display: none;
  //  transition: 1s;
   // left: 0;
}
#mob-head-container {
	#mobmenu {
		display: none;
		width: 50%; 
		height: 100vh; 
		position: fixed; 
	//	background-color: #c4c4c4; 
		background-color: #FAFAFA; 
		z-index: 98; 
		margin-top: 83px; 
		border: 1px solid #c4c4c4; 
		border-radius: 3px; 
		left: -50%;
		.list-group-item {
			background-color: #FAFAFA !important;
		}
		a, i {
			color: grey;
		}
	}
}
//slide menu








